.catalogue {
    flex: 1;

    display: flex;
    flex-direction: column;

    --product-width: 270px;
    --product-height: 360px;
}

.search_wrapper {
    background-color: var(--matte-color-500);

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding: 10px;
}

.filters_toggle {
    flex: 0 0 35px;

    height: 35px;

    background-color: transparent;
    border: 2px solid var(--matte-color-100);
    border-radius: 50%;

    cursor: pointer;
    margin: 5px;

    padding: 2px;
}

.filters_toggle > img {
    width: 100%;
}

.search {
    max-width: calc(var(--app-width) / 2);

    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 1;
    margin: 0px 5px;
}

.search > span {
    font-size: 1.25rem;
    
    color: var(--matte-color-100);
    margin-right: 10px;
}

.search > input {
    flex: 1;
    width: 0px;
    height: 1.75rem;

    background-color: var(--matte-color-200);
    outline: none;
    border: none;

    border-radius: 5px;
    padding: 0px 5px 0px 10px;
}

.search > input:focus-visible {
    outline: 2px solid var(--primary-color);
    background-color: var(--matte-color-100);

    border-radius: 0px;
}

.content {
    display: flex;
    flex-direction: column;
}

.filters_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: center;
    background-color: var(--primary-color-ll);
    border-bottom: 1px dashed var(--primary-color-l);

    height: 100%;
}

.filters_wrapper.filters_wrapper_inactive {
    height: 0px;
    display: none;
}

.filters {
    flex: 1;
    max-width: var(--app-width);

    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    padding-top: 20px;
}

.filters_section {
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;

    margin: 35px;
}

.filters_section_title {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.filters_section_title > h2 {
    flex: 1;

    color: var(--matte-color-700);
    font-family: var(--title-font);
}

.filter_reset {
    width: 30px;
    height: 30px;

    margin-left: 10px;

    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--matte-color-100);

    border: 2px outset var(--primary-color);
}

.filter_reset:active {
    border-style: inset;
}

.filter_group {
    display: flex;
    flex-direction: column;
}

.filter_option {
    cursor: pointer;
    user-select: none;

    padding: 5px 10px;
    margin: 2px 0px;
}

.filter_option.active {
    background-color: var(--primary-color);
    
    color: var(--matte-color-100);
}

.products_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.products {
    flex: 0 1 var(--app-width);

    padding: 30px 10px;

    display: grid;
    justify-content: center;

    grid-template-columns: repeat(auto-fill, var(--product-width));

    row-gap: 30px;
    column-gap: 15px;
}
.product {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-bottom: none;
    text-decoration: none;
}

.messageProduct {
    grid-column-start: 1;
    grid-column-end: -1;

    justify-self: center;
    width: var(--product-width);
    height: var(--product-height);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.messageProduct_spinner {
    margin-top: 20px;
}  

.product_image_wrapper {
    position: relative;
    
    width: var(--product-width);
    height: var(--product-height);
}

.product_image_loading {
    background: linear-gradient(to bottom right, var(--primary-color-ll) 0%, transparent 50%);
    background-size: 200% 200%;
    animation: placeholder_animation 800ms infinite alternate ease; 
}

@keyframes placeholder_animation {
    0% {
        background-position: 0 0;
    }
    
    100% {
        background-position: calc(var(--product-width) * -1) calc(var(--product-height) * -1);
    }
}

.product_description {

    display: grid;
    row-gap: 5px;
    padding: 8px 20px 5px 20px;

    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title title"
        "category price";
}

.product_title {
    grid-area: title;

    padding-top: 5px;
    text-align: center;
    color: var(--matte-color-600);

    font-weight: bold;
}

.product_category {
    height: 35px;

    font-size: .75rem;

    color: var(--matte-color-600);
    font-weight: bold;

    display: grid;
    place-content: center start;
}

.product_price {
    font-size: 0.9rem;

    color: var(--matte-color-600);
    font-weight: bold;

    height: 35px;

    display: grid;
    place-content: center;
}

@media (hover: hover) and (pointer: fine) {
    .product:hover .product_image_wrapper {
        opacity: 90%;
    }
}