* {
  margin: 0;
  padding: 0;
}

:root {
  --app-width: 1200px;

  --matte-color-100: #ececec;
  --matte-color-150: #e6e6e6;
  --matte-color-200: #d4d4d4;
  --matte-color-300: #9b9b9b;
  --matte-color-400: #4d4d4d;
  --matte-color-500: #262626;
  --matte-color-600: #131313;
  --matte-color-700: #0d0d0d;

  --primary-color-ll: #E7D4ED  ;
  --primary-color-l : #AE85B9  ;
  --primary-color   : #7C478B  ;
  --primary-color-d : #521D61  ;
  --primary-color-dd: #260330  ;
  --primary-shadow  : #26033045;

  --secondary-color-ll: #A6B5EB;
  --secondary-color-l : #6273B2;
  --secondary-color   : #384986;
  --secondary-color-d : #172454;
  --secondary-color-dd: #060B1F;

  --positive-color-ll: #daf5d8;
  --positive-color-l : #97E98E;
  --positive-color   : #75D56B;
  --positive-color-d : #53B149;
  --positive-color-dd: #33802B;

  --warning-color-l : #FFCD68;
  --warning-color   : #FFC042;
  --warning-color-d : #FFB013;
  --warning-color-dd: #E19600;

  --danger-color-l : #EF5350;
  --danger-color   : #F44336;
  --danger-color-d : #E53935;
  --danger-color-dd: #D32F2F;

  --primary-gradient: linear-gradient(
    0deg, 
    #29115d20 0%, 
    #29115d00 75%
  ), linear-gradient(
    90deg, 
    var(--primary-color-l) 0%, 
    var(--primary-color) 100%
  );

  --secondary-gradient: linear-gradient(
    90deg,
    var(--secondary-color-l) 0%,
    var(--secondary-color) 100%
  );

  --title-font: 'Karla', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  display: flex;

  min-width: 0px;

  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#__next {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 0px;
  background-color: var(--matte-color-100);
}