.index_wrapper {
    position: relative;
    flex: 1;

    display: flex;
    flex-flow: column;
}

.greeting {
    display: grid;
    place-content: center;

    flex: 2;
    padding: 60px 0px;
}

.greeting_content {
    display: grid;
    place-content: center;

    grid-template-columns: min-content;
    grid-template-areas: 
        "title"
        "description"
        "actions";
}

.greeting_content > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    font-family: 'Karla', sans-serif;
}

.greeting_content > h1, .greeting_content > span {
    color: var(--matte-color-500);
    text-align: center;
}

.greeting_actions {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catalogue {
    text-decoration: none;
    padding: 12px 15px;

    margin: 0px 5px;

    white-space: nowrap;
    border-radius: 5px;

    border: 2px outset var(--matte-color-500);

    transition-property: background-color, border-color;
    transition-duration: 50ms;

    color: var(--matte-color-200);

    background-color: var(--matte-color-500);
}

.catalogue:active {
    border: 2px inset var(--matte-color-500);
}

.contact {
    place-self: end center;

    display: grid;
    grid-auto-flow: column;

    column-gap: 5px;
    
    place-content: center;
}

.contact > a {
    border-radius: 10px;
    display: grid;
    place-content: center;

    width: 50px;
    height: 50px;
}

.information {
    --information-background: var(--matte-color-200);

    background: url('../public/img/inicio/clouds.png'), var(--information-background);
    background-size: 450px;
    image-rendering: pixelated;

    flex: 3;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.information_overlay {
    display: none;

    pointer-events: none;
    background: transparent;
    background: linear-gradient(to top, var(--information-background) 0px, transparent 40px);

    z-index: 1;
    margin: 0px 20px;

    flex: 0 0 40px;
}

.information_content {
    flex: 1;
    background: linear-gradient(to bottom, var(--information-background) 100px, transparent 120px), linear-gradient(to top, var(--information-background) 100px, transparent 120px);

    display: flex;
    flex-direction: column;

    image-rendering: auto;
}

.information_content h1 {
    color: var(--matte-color-600);

    font-family: var(--title-font);
    font-weight: 400;
    margin-bottom: 5px;
}

.updates {
    display: flex;
    flex-direction: column;

    /*background: linear-gradient(to bottom, var(--information-background) 95%, transparent 100%);*/
    padding: 40px 20px 20px 20px;
}

.update {
    display: inline;

    line-height: 2;
    padding: 5px 10px;
}

.update span {
    color: var(--matte-color-200);

    background-color: var(--matte-color-500);
    padding: .5em 10px;
    
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.information_separator {
    flex: 1;

    min-height: 125px;
}

.payment_methods {
    display: flex;
    flex-direction: column;

    /*background: linear-gradient(to top, var(--information-background) 95%, transparent 100%);*/

    padding: 0px 20px 40px 20px;
}

.payment_methods_content {
    display: grid;

    grid-template-columns: repeat(auto-fit, 140px);
}

.payment_method {
    margin: 5px;
    display: flex;

    padding: 10px 5px 5px 5px;
    
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: var(--matte-color-dd);
}

.payment_method > span {
    margin-top: 5px;
}

@media only screen and (min-width: 900px) {
    .index_wrapper {
        flex-direction: row;
    }
    
    .information_wrapper {
        position: absolute;
        
        top: 0px;
        bottom: 0px;
        
        left: 0px;
        right: 0px;
        
        overflow-y: auto;
        display: flex;

        flex-direction: column;
    }

    .discounts > h1 {
        text-align: unset;
    }

    .discounts_content {
        align-self: unset;
    }

    .information_overlay {
        display: unset;
    }
}

@media only screen and (min-width: 450px) {
    .updates {
        padding: 40px 40px 30px 40px;
    }
    
    .payment_methods {
        padding: 30px 40px 40px 40px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .catalogue:hover {
        background-color: var(--matte-color-400);
        border: 2px outset var(--matte-color-400);
        color: var(--matte-color-100)
    }

    .catalogue:hover:active {
        border-style: inset;
    }
}