.profile_wrapper {
    padding: 60px 30px;
    
    flex: 1;
    
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.profile {
    flex: 0 1 calc(var(--app-width) / 2);

    display: flex;
    flex-direction: column;
}

.profile_loading {
    align-self: center;
}

.profile_info {
    display: flex;
    flex-direction: column;
}

.greeting { 
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: space-around;

    margin-bottom: 10px;
}

.greeting > h1 {
    margin-bottom: 5px;
    text-align: center;
}

.spinner {
    align-self: center;
}

.address_wrapper {
    display: flex;
    flex-direction: row;
}

.address {
    display: grid;
    grid-template-columns: auto 40px;
    place-content: center;
    place-items: center;

    column-gap: 15px;

    padding: 10px 10px 20px 10px;
}

.no_address {
    padding-top: 15px;

    display: grid;
    grid-column: span 2;

    grid-auto-flow: row;
    place-items: center;

    row-gap: 10px;
}

.address_info {
    display: grid;
    grid-auto-flow: row;

    row-gap: 5px;
}

.address_actions {
    display: grid;
    row-gap: 5px;
}

.address_edit_button.address_edit_button {
    padding: 5px;
    display: flex;
}

.address_delete_button.address_delete_button {
    padding: 5px;
    width: 40px;

    display: flex;

    background-color: var(--danger-color);
    --hover-bgc: var(--danger-color-d);
    --hover-bdc: var(--danger-color-d);
}

.addressTypeSelect_wrapper {
    display: flex;
    flex-direction: column;

    padding: 20px 0px 40px 0px;
}

.addressTypeSelect_title {
    text-align: center;
    font-size: 1.2rem;

    margin-bottom: 15px;
}

.addressTypeSelect {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    gap: 15px;
    padding: 0px 10px;

    margin-bottom: 20px;
}

.addressOption {
    flex: 1 0 200px;
    max-width: 250px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.addressOption > h3 {
    text-align: center;
}

.addressOption > button {
    margin-top: 20px;
    align-self: center;
}

.cancel_button {
    align-self: center;
}

.address_form {
    display: flex;
    flex-direction: column;

    padding: 0px 10px;
    max-width: 450px;

    margin: 0px auto 20px auto;
}

.address_form > p {
    margin-bottom: 10px;
    color: var(--matte-color-400);
}

.address_form_input, .address_form_select {
    padding: 6px 10px;
    border-radius: 3px;

    min-width: 0px;

    border: 1px solid var(--matte-color-300);
    outline-color: var(--primary-color);
}

.optional_mark {
    color: var(--matte-color-300);
    margin-left: 5px;
}

.address_name {
    font-size: larger;
}

.form_input {
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 5px;
    margin-bottom: 10px;
}

.form_group {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    column-gap: 10px;
}

.form_actions {
    display: grid;
    grid-template-columns: min-content 1fr;

    column-gap: 10px;
}

.submit_button.submit_button {
    justify-self: end;
}

.authMethods > summary, .address_wrapper > summary {
    font-size: 1.5rem;
    
    user-select: none;
    cursor: pointer;
    background-color: var(--matte-color-150);
    padding: 5px 10px;

    margin-bottom: 10px;
}

.authMethods > p {
    margin-bottom: 10px;

    padding: 0px 10px;
}

.providers {
    display: flex;
    flex-direction: column;

    padding: 0px 10px;
}

.provider {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.provider_logo_wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    flex: 0 1 180px;
    min-width: 140px;
}

.provider_logo {
    display: flex;
    border-radius: 25%;
    padding: 8px 8px;

    margin: 5px 10px 5px 0px;

    box-shadow: 0px 0px 3px 1px var(--matte-color-200);
}

.provider.facebook .provider_logo {
    background-color: #4267B2;
}

.provider.google .provider_logo {
    background-color: white;
}

.connected.connected {
    background-color: var(--danger-color);
    color: var(--matte-color-100);

    --hover-fgc: var(--matte-color-100);
    --hover-bgc: var(--danger-color-d);
    --hover-bdc: var(--danger-color);
}

.not_connected.not_connected {
    background-color: var(--positive-color);
    color: var(--matte-color-600);

    --hover-fgc: var(--matte-color-600);
    --hover-bgc: var(--positive-color-d);
    --hover-bdc: var(--positive-color);
}
